# Web Framework
fastapi==0.111.0
uvicorn==0.30.0
python-multipart==0.0.20

# DB
SQLAlchemy==2.0.43

# Utils
pydantic==2.11.7
python-dotenv==1.0.1
requests==2.32.5

# Data
pandas==2.2.2
numpy==1.26.4

# AI / LLM
openai==1.102.0
langchain==0.3.27
langchain-community==0.3.29
tiktoken==0.4.0

# Vector DB
chromadb==0.5.3

# PDF 처리
PyMuPDF==1.26.4